# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Binary executables
apiserver
edge-logs-apiserver
edge-logs-apiserver_unix
edge-logs-controller
edge-logs-frontend-latest-amd64.tar
edge-logs-frontend-latest.tar
edge-logs-main-amd64.tar
edge-logs-main.tar


frontend/node_module
frontend/edge-logs-frontend-latest-fixed.tar